
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.9.0+cu126
torchaudio==2.9.0+cu126
torchvision==0.24.0+cu126
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
cryptography
dotenv
filelock
fsspec
hf-xet
huggingface-hub
idna
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pdfminer.six
pdfplumber
pillow
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
pycparser
pypdfium2
python-dateutil
python-dotenv
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers
setuptools==80.9.0
six
soupsieve
sympy
redis
fastapi
celery[redis]
python-multipart
uvicorn[standard]
threadpoolctl
tokenizers
tqdm
transformers
triton
typing_extensions
urllib3
rank_bm25